body {
    border: turquoise;
}

.container {
    margin-left: 12%;
    margin-right: 12%;
    border: solid 2px black;
    padding: 1%;
}

.gambar {
    text-align: center;
}

.tulisan1 {
    text-align: center;
}

.tulisan2 {
    text-align: center;
}

.pusing {
    text-align: center;
}

.style {
    max-width: 600px;
    margin: 3em auto;
}